asgiref==3.9.1
distlib==0.4.0
Django==5.2.5
filelock==3.19.1
gunicorn==25.1.0
mysqlclient==2.2.7
packaging==26.0
pillow==11.3.0
platformdirs==4.3.8
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
virtualenv==20.34.0
virtualenvwrapper-win==1.2.7
